body
{
    background-color: #222222 !important;
}
.container-background
{
    background-color: #333333 !important;
    border-radius: 20px !important;
}

table.decorated tbody tr.line1
{
    background-color: #424242 !important;
}
table.decorated tbody tr.line0
{
    background-color: #424242 !important;
}

table.decorated tbody tr.line0 td
{
    border-top: none !important;
    border-left: none !important;
}
table.decorated tbody tr.line1 td
{
    border-top: none !important;
    border-left: none !important;
}