body
{
    background-color: #222222 !important;
}
.container-background
{
    background-color: #333333 !important;
    border-radius: 20px !important;
}

table.decorated tbody tr.line1
{
    display: block;
    background-color: #424242 !important;
    border-radius: 20px !important;
}
table.decorated tbody tr.line0
{
    display: block;
    background-color: #424242 !important;
    border-radius: 20px !important;
}
table.decorated tbody tr.line0 td
{
    border-top: none !important;
    border-left: none !important;
}
table.decorated tbody tr.line1 td
{
    border-top: none !important;
    border-left: none !important;
}
#formWiadomosci > div > div > table > tbody > tr > td:nth-child(2) > table.decorated.stretch > tbody
{
    display: block !important;
    position: absolute !important;
}